@import 'variables';
@import 'mixins';

.excel__header__top {
  padding: 8px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #00894b;

  .input {
    margin-left: 10px;
    color: #fff;
    background: #00894b;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 4px;
    height: 26px;
    font-size: 18px;
    line-height: 26px;
    outline: none;
    padding: 0 8px;
    transition: all 0.2s;

    &:hover {
      background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(#00894b, #00894b);
      transition: all 0.2s;
    }

    &:focus {
      background: #fff;
      color: #111;
      transition: all 0.2s;
    }
  }

  .button {
    @include button(#00894b);
  }
}